section {
	padding:2em 0;
}

.col50 {
  @include rowGrid(2,0);
}


.hero {
 
  .hero-height{
      height:768px;
  }
  .content {
    display: table-cell;
    vertical-align:middle;
    text-align: right;
    h1 {
      font-size:50px;
    }
  }
}



.cta-left, .cta-right {
  
  padding:4em;

}

.button {
  padding:1em 2em;
}


.col50 {
  display: table-cell;
  vertical-align:top;
  float:none;
}

.cta-left, .cta-right {
  
  p{
    font-size: 24px;
  }

}

h3 {
  font-size:24px;
}

h2 {
  font-size: 32px;
}


.how {

  .contain {
    width:200px;
    height:200px;
    margin:0 auto 56px;
  }
}