* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.cf:before,
.cf:after {
@extend %clearfix;
}
/* RESPONSIVE IMAGES */

body {
  padding:0;
}

img {
  max-width: 100%; // Make images inherently responsive
  height: auto; // Adds support for images whose dimensions are defined inline
  vertical-align: middle;
  border: 0;
  -ms-interpolation-mode: bicubic;

  .lt-ie9 & {
    width: auto;
  } 
}

/* MAIN */

section {
  padding:2em 1em;
    
}

.wrap {
  max-width: 1140px;
  width:90%;
  margin:auto;
    &:before, &:after {
      content:"";
      display:table;
    }

    &:after {
      clear:both;
    }

}

.button {
  padding:1em;
}

/* FOOTER */

/* BUTTON */

.btn, a:visited.btn, button { 

  &:hover, &:focus {
  }
}

.hero {
  padding: 0;
  margin: 0;  
  background:#fff4e7 url('/resources/img/main_bg.png')no-repeat bottom;
  background-size:cover;
  .hero-height{
      height:300px;
      display: table;
  }
  .content {
    display: table-cell;
    vertical-align:middle;
    text-align: right;
    h1 {
      font-size:22px;
    }
  }
}

.logo {
  height:55px;
}


.purple {
  color:$purple;
}

.green {
  color:$green;
}

.pink {
  color:$pink;
}

.about {
  background:#00acec url('/resources/img/what-bg.jpg') no-repeat right;
  text-align: center;
  padding: 4em 0;
  .wrap {
    max-width:750px;
  }
  h3,p {
    color:white;
    margin-bottom: 2em;
  }
}

.how {
  padding:4em 0;
  text-align: center;
  margin-top:5px;
  background:url('/resources/img/color-bar.jpg') repeat-x top;
  h2 {
    margin-bottom: 50px;
  }
  a {
    margin-bottom: 1em;
    &:hover {
      .contain {
        @include opacity(.5);
        
      }
      h3 {
        color:$green;
      }
    }
  }
  .contain {
    background:#f3f3f3;
    width:200px;
    height:200px;
    border-radius:1100px;
    @include transition(all .3s);
    margin:0 auto 20px;
  }
  h3 {
    @include transition(all .3s);
    font-size: 18px;
  }
}
.cta-left, .cta-right {
  
  padding:2em;
  text-align: center;
  margin: 0;
  p{
    color:white;
    font-size: 14px;
    margin-bottom: 40px;
  }

}

.col50 {
  @include rowGrid(1,0);
  float:left;
}

.cta-left {
  background:url('/resources/img/cta_left.jpg')no-repeat;
  background-size:cover;
}

.cta-right {
  background:url('/resources/img/cta_right.jpg')no-repeat;
  background-size:cover;
}

.footer {
  background:#00acec;
  padding:3em 0;
  h2 {
    font-size: 24px;
    margin-bottom: 25px;
  }
  li {
    margin-bottom: 2em;

      a {
        &:hover {
          p{
            color:rgba(255,255,255,.7);
          }
          p.date {
            color:rgba(0,0,0,.5);
          }
        }
      }
  }
  h3 {
    margin-bottom: 1em;
    a {
      color:white;
      &:hover {
        color:rgba(255,255,255,.7);
      }
    }
  }
  p {
    font-size: 14px;
    color:white;
    @include transition(.3s all)
  }
  p.date {
    color:$primary;
    font-family: $bold;
  }
}
.social {
  li {
    display: inline-block;
    margin-right: 1em;
    a {
      font-size: 70px;
      color:white;
      &:hover {
        color:rgba(255,255,255,.4);
      }
    }
  }
}

.mainnav .mnav, .mainnav.scroll .mnav {
  li {
    a {
      padding:24px 0;
      font-size: 20px;
      color:$primary;
    }
  }
}

/* TYPOGRAPHY */

h3 {
  font-size:18px;
}


h2 {
  font-size: 20px;
}


.mainnav.scroll {
      box-shadow:0 2px 8px rgba(0,0,0,.3);
}
