/* line 26, ../sass/_mixins.scss */
.cf:before,
.cf:after {
  *zoom: 1;
}
/* line 28, ../sass/_mixins.scss */
.cf:before,
.cf:after {
  content: " ";
  display: table;
}
/* line 32, ../sass/_mixins.scss */
.cf:after {
  clear: both;
}

/* Fluid Grid
-----------------
*/
/*
 * HTML5 Boilerplate
 *
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 *
 * Detailed information about this CSS: h5bp.com/css
 *
 * ==|== normalize ==========================================================
 */
/* =============================================================================
   HTML5 display definitions
   ========================================================================== */
/* line 18, ../sass/_reset.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, nav, section {
  display: block;
}

/* line 19, ../sass/_reset.scss */
audio, canvas, video {
  display: inline-block;
  *display: inline;
  *zoom: 1;
}

/* line 20, ../sass/_reset.scss */
audio:not([controls]) {
  display: none;
}

/* line 21, ../sass/_reset.scss */
[hidden] {
  display: none;
}

/* =============================================================================
   Base
   ========================================================================== */
/*
 * 1. Correct text resizing oddly in IE6/7 when body font-size is set using em units
 * 2. Prevent iOS text size adjust on device orientation change, without disabling user zoom: h5bp.com/g
 */
/* line 33, ../sass/_reset.scss */
html {
  font-size: 100%;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

/* line 35, ../sass/_reset.scss */
html, button, input, select, textarea {
  font-family: sans-serif;
  color: #222;
}

/* line 37, ../sass/_reset.scss */
body {
  margin: 0;
  font-size: 1em;
  line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight: h5bp.com/i
 * These selection declarations have to be separate
 * Also: hot pink! (or customize the background color to match your design)
 */
/* =============================================================================
   Links
   ========================================================================== */
/* line 51, ../sass/_reset.scss */
a {
  color: #00e;
}

/* line 52, ../sass/_reset.scss */
a:visited {
  color: #551a8b;
}

/* line 53, ../sass/_reset.scss */
a:hover {
  color: #06e;
}

/* line 54, ../sass/_reset.scss */
a:focus {
  outline: thin dotted;
}

/* Improve readability when focused and hovered in all browsers: h5bp.com/h */
/* line 57, ../sass/_reset.scss */
a:hover, a:active {
  outline: 0;
}

/* =============================================================================
   Typography
   ========================================================================== */
/* line 64, ../sass/_reset.scss */
abbr[title] {
  border-bottom: 1px dotted;
}

/* line 66, ../sass/_reset.scss */
b, strong {
  font-weight: bold;
}

/* line 68, ../sass/_reset.scss */
blockquote {
  margin: 1em 40px;
}

/* line 70, ../sass/_reset.scss */
dfn {
  font-style: italic;
}

/* line 72, ../sass/_reset.scss */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

/* line 74, ../sass/_reset.scss */
ins {
  background: #ff9;
  color: #000;
  text-decoration: none;
}

/* line 76, ../sass/_reset.scss */
mark {
  background: #ff0;
  color: #000;
  font-style: italic;
  font-weight: bold;
}

/* Redeclare monospace font family: h5bp.com/j */
/* line 79, ../sass/_reset.scss */
pre, code, kbd, samp {
  font-family: monospace, serif;
  _font-family: 'courier new', monospace;
  font-size: 1em;
}

/* Improve readability of pre-formatted text in all browsers */
/* line 82, ../sass/_reset.scss */
pre {
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word;
}

/* line 84, ../sass/_reset.scss */
q {
  quotes: none;
}

/* line 85, ../sass/_reset.scss */
q:before, q:after {
  content: "";
  content: none;
}

/* line 87, ../sass/_reset.scss */
small {
  font-size: 85%;
}

/* Position subscript and superscript content without affecting line-height: h5bp.com/k */
/* line 90, ../sass/_reset.scss */
sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

/* line 91, ../sass/_reset.scss */
sup {
  top: -0.5em;
}

/* line 92, ../sass/_reset.scss */
sub {
  bottom: -0.25em;
}

/* =============================================================================
   Lists
   ========================================================================== */
/* line 99, ../sass/_reset.scss */
ul, ol {
  margin: 1em 0;
  padding: 0 0 0 40px;
}

/* line 100, ../sass/_reset.scss */
dd {
  margin: 0 0 0 40px;
}

/* line 101, ../sass/_reset.scss */
nav ul, nav ol {
  list-style: none;
  list-style-image: none;
  margin: 0;
  padding: 0;
}

/* =============================================================================
   Embedded content
   ========================================================================== */
/*
 * 1. Improve image quality when scaled in IE7: h5bp.com/d
 * 2. Remove the gap between images and borders on image containers: h5bp.com/i/440
 */
/* line 113, ../sass/_reset.scss */
img {
  border: 0;
  -ms-interpolation-mode: bicubic;
  vertical-align: middle;
}

/*
 * Correct overflow not hidden in IE9
 */
/* line 119, ../sass/_reset.scss */
svg:not(:root) {
  overflow: hidden;
}

/* =============================================================================
   Figures
   ========================================================================== */
/* line 126, ../sass/_reset.scss */
figure {
  margin: 0;
}

/* =============================================================================
   Forms
   ========================================================================== */
/* line 133, ../sass/_reset.scss */
form {
  margin: 0;
}

/* line 134, ../sass/_reset.scss */
fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

/* Indicate that 'label' will shift focus to the associated form element */
/* line 137, ../sass/_reset.scss */
label {
  cursor: pointer;
}

/*
 * 1. Correct color not inheriting in IE6/7/8/9
 * 2. Correct alignment displayed oddly in IE6/7
 */
/* line 144, ../sass/_reset.scss */
legend {
  border: 0;
  *margin-left: -7px;
  padding: 0;
  white-space: normal;
}

/*
 * 1. Correct font-size not inheriting in all browsers
 * 2. Remove margins in FF3/4 S5 Chrome
 * 3. Define consistent vertical alignment display in all browsers
 */
/* line 152, ../sass/_reset.scss */
button, input, select, textarea {
  font-size: 100%;
  margin: 0;
  vertical-align: baseline;
  *vertical-align: middle;
}

/*
 * 1. Define line-height as normal to match FF3/4 (set using !important in the UA stylesheet)
 */
/* line 158, ../sass/_reset.scss */
button, input {
  line-height: normal;
}

/*
 * 1. Display hand cursor for clickable form elements
 * 2. Allow styling of clickable form elements in iOS
 * 3. Correct inner spacing displayed oddly in IE7 (doesn't effect IE6)
 */
/* line 166, ../sass/_reset.scss */
button, input[type="button"], input[type="reset"], input[type="submit"] {
  cursor: pointer;
  -webkit-appearance: button;
  *overflow: visible;
}

/*
 * Re-set default cursor for disabled elements
 */
/* line 172, ../sass/_reset.scss */
button[disabled], input[disabled] {
  cursor: default;
}

/*
 * Consistent box sizing and appearance
 */
/* line 178, ../sass/_reset.scss */
input[type="checkbox"], input[type="radio"] {
  box-sizing: border-box;
  padding: 0;
  *width: 13px;
  *height: 13px;
}

/* line 179, ../sass/_reset.scss */
input[type="search"] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}

/* line 180, ../sass/_reset.scss */
input[type="search"]::-webkit-search-decoration, input[type="search"]::-webkit-search-cancel-button {
  -webkit-appearance: none;
}

/*
 * Remove inner padding and border in FF3/4: h5bp.com/l
 */
/* line 186, ../sass/_reset.scss */
button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

/*
 * 1. Remove default vertical scrollbar in IE6/7/8/9
 * 2. Allow only vertical resizing
 */
/* line 193, ../sass/_reset.scss */
textarea {
  overflow: auto;
  vertical-align: top;
  resize: vertical;
}

/* Colors for form validity */
/* line 197, ../sass/_reset.scss */
input:invalid, textarea:invalid {
  background-color: #f0dddd;
}

/* =============================================================================
   Tables
   ========================================================================== */
/* line 204, ../sass/_reset.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 205, ../sass/_reset.scss */
td {
  vertical-align: top;
}

/* ==|== non-semantic helper classes ========================================
   Please define your styles before this section.
   ========================================================================== */
/* For image replacement */
/* line 213, ../sass/_reset.scss */
.ir {
  display: block;
  border: 0;
  text-indent: -999em;
  overflow: hidden;
  background-color: transparent;
  background-repeat: no-repeat;
  text-align: left;
  direction: ltr;
  *line-height: 0;
}

/* line 214, ../sass/_reset.scss */
.ir br {
  display: none;
}

/* Hide from both screenreaders and browsers: h5bp.com/u */
/* line 217, ../sass/_reset.scss */
.hidden {
  display: none !important;
  visibility: hidden;
}

/* Hide only visually, but have it available for screenreaders: h5bp.com/v */
/* line 220, ../sass/_reset.scss */
.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

/* Extends the .visuallyhidden class to allow the element to be focusable when navigated to via the keyboard: h5bp.com/p */
/* line 223, ../sass/_reset.scss */
.visuallyhidden.focusable:active, .visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto;
}

/* Hide visually and from screenreaders, but maintain layout */
/* line 226, ../sass/_reset.scss */
.invisible {
  visibility: hidden;
}

/* Contain floats: h5bp.com/q */
/* line 229, ../sass/_reset.scss */
.clearfix:before, .clearfix:after {
  content: "";
  display: table;
}

/* line 230, ../sass/_reset.scss */
.clearfix:after {
  clear: both;
}

/* line 231, ../sass/_reset.scss */
.clearfix {
  *zoom: 1;
}

/* ==|== print styles =======================================================
   Print styles.
   Inlined to avoid required HTTP connection: h5bp.com/r
   ========================================================================== */
@media print {
  /* line 239, ../sass/_reset.scss */
  * {
    background: transparent !important;
    color: black !important;
    box-shadow: none !important;
    text-shadow: none !important;
    filter: none !important;
    -ms-filter: none !important;
  }

  /* Black prints faster: h5bp.com/s */
  /* line 240, ../sass/_reset.scss */
  a, a:visited {
    text-decoration: underline;
  }

  /* line 241, ../sass/_reset.scss */
  a[href]:after {
    content: " (" attr(href) ")";
  }

  /* line 242, ../sass/_reset.scss */
  abbr[title]:after {
    content: " (" attr(title) ")";
  }

  /* line 243, ../sass/_reset.scss */
  .ir a:after, a[href^="javascript:"]:after, a[href^="#"]:after {
    content: "";
  }

  /* Don't show links for images, or javascript/internal links */
  /* line 244, ../sass/_reset.scss */
  pre, blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }

  /* line 245, ../sass/_reset.scss */
  thead {
    display: table-header-group;
  }

  /* h5bp.com/t */
  /* line 246, ../sass/_reset.scss */
  tr, img {
    page-break-inside: avoid;
  }

  /* line 247, ../sass/_reset.scss */
  img {
    max-width: 100% !important;
  }

  @page {
    margin: 0.5cm;
}

  /* line 249, ../sass/_reset.scss */
  p, h2, h3 {
    orphans: 3;
    widows: 3;
  }

  /* line 250, ../sass/_reset.scss */
  h2, h3 {
    page-break-after: avoid;
  }
}
/* line 20, ../sass/_grid.scss */
body {
  width: 100%;
  float: left;
}

/* line 1, ../sass/_typography.scss */
body {
  font: 100%/1.5 "Galaxie Polaris", sans-serif;
  color: #011f40;
}

/* HEADINGS */
/* line 8, ../sass/_typography.scss */
h1, h2, h3, h4, h5 {
  font-family: "ITC Lubalin Graph";
  color: #131313;
  line-height: 1.4;
}

/* line 14, ../sass/_typography.scss */
h1 {
  margin: 0 0 10px 0;
  font-size: 30px;
  font-weight: 100;
  line-height: 1;
  color: #011f40;
}

/* line 23, ../sass/_typography.scss */
h2 {
  color: #131313;
  font-family: "ITC Lubalin Graph";
  font-size: 32px;
  font-weight: 100;
}

/* line 30, ../sass/_typography.scss */
h3 {
  font-family: "Galaxie Polaris Medium", sans-serif;
  font-size: 24px;
}

/* PARAGRAPH */
/* line 37, ../sass/_typography.scss */
p {
  font-family: "Galaxie Polaris", sans-serif;
  font-size: 14px;
  line-height: 1.4;
  margin-bottom: 1em;
  color: #131313;
}

/* line 45, ../sass/_typography.scss */
a {
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
  text-decoration: none;
}
/* line 48, ../sass/_typography.scss */
a:hover {
  text-decoration: none;
}
/* line 51, ../sass/_typography.scss */
a:visited {
  color: inherit;
}

/* LISTS */
/* line 57, ../sass/_typography.scss */
ul {
  padding: 0;
  list-style: none;
}

/* line 62, ../sass/_typography.scss */
.button {
  display: inline-block;
  padding: .5em 8em;
  font-family: "Galaxie Polaris", sans-serif;
  border: solid 1px #131313;
  color: #131313;
}
/* line 68, ../sass/_typography.scss */
.button:hover {
  opacity: 0.7;
  filter: alpha(opacity=0.7);
}

/* line 73, ../sass/_typography.scss */
.button.white {
  color: #ffffff;
  border-color: #ffffff;
}

@font-face {
  font-family: 'Galaxie Polaris';
  src: url("/resources/fonts/GalaxiePolaris-Book.otf");
}

@font-face {
  font-family: 'Galaxie Polaris Heavy';
  src: url("/resources/fonts/GalaxiePolaris-Heavy.otf");
}

@font-face {
  font-family: 'Galaxie Polaris Bold';
  src: url("/resources/fonts/GalaxiePolaris-Bold.otf");
}

@font-face {
  font-family: 'Galaxie Polaris Medium';
  src: url("/resources/fonts/GalaxiePolaris-Medium.otf");
}

/* line 1, ../sass/_navigation.scss */
.mainnav {
  width: 100%;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
  padding: 2em 0;
  z-index: 1000;
}
/* line 6, ../sass/_navigation.scss */
.mainnav ul {
  float: right;
}
/* line 8, ../sass/_navigation.scss */
.mainnav ul li {
  float: left;
}
/* line 10, ../sass/_navigation.scss */
.mainnav ul li a {
  padding: 3em 1em;
  display: inline-block;
  -webkit-transition: 0.5s all;
  -moz-transition: 0.5s all;
  -ms-transition: 0.5s all;
  -o-transition: 0.5s all;
  transition: 0.5s all;
  font-size: 18px;
  color: #131313;
}
/* line 16, ../sass/_navigation.scss */
.mainnav ul li a:hover {
  -webkit-transition: 0.5s all;
  -moz-transition: 0.5s all;
  -ms-transition: 0.5s all;
  -o-transition: 0.5s all;
  transition: 0.5s all;
  color: #7cb14d;
}

/* line 25, ../sass/_navigation.scss */
.logo {
  -webkit-transition: 0.5s height;
  -moz-transition: 0.5s height;
  -ms-transition: 0.5s height;
  -o-transition: 0.5s height;
  transition: 0.5s height;
  height: 125px;
}

/* line 30, ../sass/_navigation.scss */
.mainnav.scroll {
  background: white;
  padding: 1em 0;
}
/* line 35, ../sass/_navigation.scss */
.mainnav.scroll ul li a {
  padding: 2em 1em;
  font-size: 14px;
}
/* line 41, ../sass/_navigation.scss */
.mainnav.scroll .logo {
  height: 55px;
}

/* PUSH MENU */
/* General styles for all menus */
/* line 48, ../sass/_navigation.scss */
.cbp-spmenu {
  background: #47a3da;
  position: fixed;
}

/* line 53, ../sass/_navigation.scss */
.cbp-spmenu h3 {
  color: #afdefa;
  font-size: 1.9em;
  padding: 20px;
  margin: 0;
  font-weight: 300;
  background: #0d77b6;
}

/* line 62, ../sass/_navigation.scss */
.cbp-spmenu a {
  display: block;
  color: #fff;
  font-size: 14px;
  font-weight: 300;
}

/* line 69, ../sass/_navigation.scss */
.cbp-spmenu a:hover {
  background: #258ecd;
}

/* line 73, ../sass/_navigation.scss */
.cbp-spmenu a:active {
  background: #afdefa;
  color: #47a3da;
}

/* Orientation-dependent styles for the content of the menu */
/* line 80, ../sass/_navigation.scss */
.cbp-spmenu-vertical {
  width: 200px;
  height: 100%;
  top: 0;
  z-index: 1000;
}

/* line 87, ../sass/_navigation.scss */
.cbp-spmenu-vertical a {
  border-bottom: 1px solid #258ecd;
  padding: 1em;
}
/* line 90, ../sass/_navigation.scss */
.cbp-spmenu-vertical a:last-child {
  border: 0;
}

/* line 95, ../sass/_navigation.scss */
.cbp-spmenu-horizontal {
  width: 100%;
  height: 150px;
  left: 0;
  z-index: 1000;
  overflow: hidden;
}

/* line 103, ../sass/_navigation.scss */
.cbp-spmenu-horizontal h3 {
  height: 100%;
  width: 20%;
  float: left;
}

/* line 109, ../sass/_navigation.scss */
.cbp-spmenu-horizontal a {
  float: left;
  width: 20%;
  padding: 0.8em;
  border-left: 1px solid #258ecd;
}

/* Vertical menu that slides from the left or right */
/* line 118, ../sass/_navigation.scss */
.cbp-spmenu-left {
  left: -240px;
}

/* line 122, ../sass/_navigation.scss */
.cbp-spmenu-right {
  right: -240px;
}

/* line 126, ../sass/_navigation.scss */
.cbp-spmenu-left.cbp-spmenu-open {
  left: 0px;
}

/* line 130, ../sass/_navigation.scss */
.cbp-spmenu-right.cbp-spmenu-open {
  right: 0px;
}

/* Horizontal menu that slides from the top or bottom */
/* line 136, ../sass/_navigation.scss */
.cbp-spmenu-top {
  top: -150px;
}

/* line 140, ../sass/_navigation.scss */
.cbp-spmenu-bottom {
  bottom: -150px;
}

/* line 144, ../sass/_navigation.scss */
.cbp-spmenu-top.cbp-spmenu-open {
  top: 0px;
}

/* line 148, ../sass/_navigation.scss */
.cbp-spmenu-bottom.cbp-spmenu-open {
  bottom: 0px;
}

/* Push classes applied to the body */
/* line 154, ../sass/_navigation.scss */
.cbp-spmenu-push {
  overflow-x: hidden;
  position: relative;
  left: 0;
}

/* line 160, ../sass/_navigation.scss */
.cbp-spmenu-push-toright {
  left: 200px;
}

/* line 164, ../sass/_navigation.scss */
.cbp-spmenu-push-toleft {
  left: -240px;
}

/* Transitions */
/* line 171, ../sass/_navigation.scss */
.cbp-spmenu,
.cbp-spmenu-push {
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

/* Example media queries */
@media screen and (max-width: 55.1875em) {
  /* line 181, ../sass/_navigation.scss */
  .cbp-spmenu-horizontal {
    font-size: 75%;
    height: 110px;
  }

  /* line 186, ../sass/_navigation.scss */
  .cbp-spmenu-top {
    top: -110px;
  }

  /* line 190, ../sass/_navigation.scss */
  .cbp-spmenu-bottom {
    bottom: -110px;
  }
}
@media screen and (max-height: 26.375em) {
  /* line 198, ../sass/_navigation.scss */
  .cbp-spmenu-vertical {
    font-size: 90%;
    width: 190px;
  }

  /* line 204, ../sass/_navigation.scss */
  .cbp-spmenu-left,
  .cbp-spmenu-push-toleft {
    left: -190px;
  }

  /* line 208, ../sass/_navigation.scss */
  .cbp-spmenu-right {
    right: -190px;
  }

  /* line 212, ../sass/_navigation.scss */
  .cbp-spmenu-push-toright {
    left: 190px;
  }
}
/* Animations */
/* line 3, ../sass/_animations.scss */
.left-fast {
  -webkit-animation-duration: 900ms;
  -moz-animation-duration: 900ms;
  animation-duration: 900ms;
  -webkit-animation-name: left-fast;
  -moz-animation-name: left-fast;
  animation-name: left-fast;
  -webkit-animation-fill-mode: forwards;
  -moz-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  -webkit-animation-timing-function: ease;
  -moz-animation-timing-function: ease;
  animation-timing-function: ease;
}

/* line 8, ../sass/_animations.scss */
.right-fast {
  -webkit-animation-duration: 900ms;
  -moz-animation-duration: 900ms;
  animation-duration: 900ms;
  -webkit-animation-name: right-fast;
  -moz-animation-name: right-fast;
  animation-name: right-fast;
  -webkit-animation-fill-mode: forwards;
  -moz-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  -webkit-animation-timing-function: ease;
  -moz-animation-timing-function: ease;
  animation-timing-function: ease;
}

/* line 12, ../sass/_animations.scss */
.roll-in-left {
  -webkit-animation-duration: 900ms;
  -moz-animation-duration: 900ms;
  animation-duration: 900ms;
  -webkit-animation-name: roll-in-left;
  -moz-animation-name: roll-in-left;
  animation-name: roll-in-left;
  -webkit-animation-fill-mode: forwards;
  -moz-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  -webkit-animation-timing-function: ease;
  -moz-animation-timing-function: ease;
  animation-timing-function: ease;
}

/* line 16, ../sass/_animations.scss */
.up {
  -webkit-animation-duration: 900ms;
  -moz-animation-duration: 900ms;
  animation-duration: 900ms;
  -webkit-animation-name: up;
  -moz-animation-name: up;
  animation-name: up;
  -webkit-animation-fill-mode: forwards;
  -moz-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  -webkit-animation-timing-function: ease;
  -moz-animation-timing-function: ease;
  animation-timing-function: ease;
}

/* line 20, ../sass/_animations.scss */
.down {
  -webkit-animation-duration: 900ms;
  -moz-animation-duration: 900ms;
  animation-duration: 900ms;
  -webkit-animation-name: down;
  -moz-animation-name: down;
  animation-name: down;
  -webkit-animation-fill-mode: forwards;
  -moz-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  -webkit-animation-timing-function: ease;
  -moz-animation-timing-function: ease;
  animation-timing-function: ease;
}

/* line 24, ../sass/_animations.scss */
.fade-in {
  -webkit-animation-duration: 900ms;
  -moz-animation-duration: 900ms;
  animation-duration: 900ms;
  -webkit-animation-name: fade-in;
  -moz-animation-name: fade-in;
  animation-name: fade-in;
  -webkit-animation-fill-mode: forwards;
  -moz-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  -webkit-animation-timing-function: ease;
  -moz-animation-timing-function: ease;
  animation-timing-function: ease;
}

/* line 28, ../sass/_animations.scss */
.delay {
  -webkit-animation-delay: 1s;
  -moz-animation-delay: 1s;
  animation-delay: 1s;
}

/* line 32, ../sass/_animations.scss */
.delay2 {
  -webkit-animation-delay: 1.2s;
  -moz-animation-delay: 1.2s;
  animation-delay: 1.2s;
}

/* KEYFRAMES */
@-webkit-keyframes left-fast {
  /* line 43, ../sass/_animations.scss */
  0% {
    opacity: 0;
    -webkit-translateX: 100px;
    -moz-translateX: 100px;
    translateX: 100px;
  }

  /* line 44, ../sass/_animations.scss */
  100% {
    opacity: 1;
    -webkit-translateY: 0;
    -moz-translateY: 0;
    translateY: 0;
  }
}

@-moz-keyframes left-fast {
  /* line 43, ../sass/_animations.scss */
  0% {
    opacity: 0;
    -webkit-translateX: 100px;
    -moz-translateX: 100px;
    translateX: 100px;
  }

  /* line 44, ../sass/_animations.scss */
  100% {
    opacity: 1;
    -webkit-translateY: 0;
    -moz-translateY: 0;
    translateY: 0;
  }
}

@-o-keyframes left-fast {
  /* line 43, ../sass/_animations.scss */
  0% {
    opacity: 0;
    -webkit-translateX: 100px;
    -moz-translateX: 100px;
    translateX: 100px;
  }

  /* line 44, ../sass/_animations.scss */
  100% {
    opacity: 1;
    -webkit-translateY: 0;
    -moz-translateY: 0;
    translateY: 0;
  }
}

@keyframes left-fast {
  /* line 43, ../sass/_animations.scss */
  0% {
    opacity: 0;
    -webkit-translateX: 100px;
    -moz-translateX: 100px;
    translateX: 100px;
  }

  /* line 44, ../sass/_animations.scss */
  100% {
    opacity: 1;
    -webkit-translateY: 0;
    -moz-translateY: 0;
    translateY: 0;
  }
}

@-webkit-keyframes right-fast {
  /* line 48, ../sass/_animations.scss */
  0% {
    opacity: 0;
    -webkit-translateX: -100px;
    -moz-translateX: -100px;
    translateX: -100px;
  }

  /* line 49, ../sass/_animations.scss */
  100% {
    opacity: 1;
    -webkit-translateY: 0;
    -moz-translateY: 0;
    translateY: 0;
  }
}

@-moz-keyframes right-fast {
  /* line 48, ../sass/_animations.scss */
  0% {
    opacity: 0;
    -webkit-translateX: -100px;
    -moz-translateX: -100px;
    translateX: -100px;
  }

  /* line 49, ../sass/_animations.scss */
  100% {
    opacity: 1;
    -webkit-translateY: 0;
    -moz-translateY: 0;
    translateY: 0;
  }
}

@-o-keyframes right-fast {
  /* line 48, ../sass/_animations.scss */
  0% {
    opacity: 0;
    -webkit-translateX: -100px;
    -moz-translateX: -100px;
    translateX: -100px;
  }

  /* line 49, ../sass/_animations.scss */
  100% {
    opacity: 1;
    -webkit-translateY: 0;
    -moz-translateY: 0;
    translateY: 0;
  }
}

@keyframes right-fast {
  /* line 48, ../sass/_animations.scss */
  0% {
    opacity: 0;
    -webkit-translateX: -100px;
    -moz-translateX: -100px;
    translateX: -100px;
  }

  /* line 49, ../sass/_animations.scss */
  100% {
    opacity: 1;
    -webkit-translateY: 0;
    -moz-translateY: 0;
    translateY: 0;
  }
}

@-webkit-keyframes roll-in-left {
  /* line 53, ../sass/_animations.scss */
  0% {
    opacity: 0;
    margin-left: -500px;
    -webkit-transform: rotateX(550deg);
  }

  /* line 54, ../sass/_animations.scss */
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes up {
  /* line 58, ../sass/_animations.scss */
  0% {
    bottom: -185px;
  }

  /* line 59, ../sass/_animations.scss */
  100% {
    bottom: 0px;
  }
}

@-moz-keyframes up {
  /* line 58, ../sass/_animations.scss */
  0% {
    bottom: -185px;
  }

  /* line 59, ../sass/_animations.scss */
  100% {
    bottom: 0px;
  }
}

@-o-keyframes up {
  /* line 58, ../sass/_animations.scss */
  0% {
    bottom: -185px;
  }

  /* line 59, ../sass/_animations.scss */
  100% {
    bottom: 0px;
  }
}

@keyframes up {
  /* line 58, ../sass/_animations.scss */
  0% {
    bottom: -185px;
  }

  /* line 59, ../sass/_animations.scss */
  100% {
    bottom: 0px;
  }
}

@-webkit-keyframes down {
  /* line 63, ../sass/_animations.scss */
  0% {
    bottom: 0px;
  }

  /* line 64, ../sass/_animations.scss */
  100% {
    bottom: -185px;
  }
}

@-moz-keyframes down {
  /* line 63, ../sass/_animations.scss */
  0% {
    bottom: 0px;
  }

  /* line 64, ../sass/_animations.scss */
  100% {
    bottom: -185px;
  }
}

@-o-keyframes down {
  /* line 63, ../sass/_animations.scss */
  0% {
    bottom: 0px;
  }

  /* line 64, ../sass/_animations.scss */
  100% {
    bottom: -185px;
  }
}

@keyframes down {
  /* line 63, ../sass/_animations.scss */
  0% {
    bottom: 0px;
  }

  /* line 64, ../sass/_animations.scss */
  100% {
    bottom: -185px;
  }
}

@-webkit-keyframes fade-in {
  /* line 69, ../sass/_animations.scss */
  0% {
    opacity: 0;
    filter: alpha(opacity=0);
  }

  /* line 70, ../sass/_animations.scss */
  100% {
    opacity: 1;
    filter: alpha(opacity=1);
  }
}

@-moz-keyframes fade-in {
  /* line 69, ../sass/_animations.scss */
  0% {
    opacity: 0;
    filter: alpha(opacity=0);
  }

  /* line 70, ../sass/_animations.scss */
  100% {
    opacity: 1;
    filter: alpha(opacity=1);
  }
}

@-o-keyframes fade-in {
  /* line 69, ../sass/_animations.scss */
  0% {
    opacity: 0;
    filter: alpha(opacity=0);
  }

  /* line 70, ../sass/_animations.scss */
  100% {
    opacity: 1;
    filter: alpha(opacity=1);
  }
}

@keyframes fade-in {
  /* line 69, ../sass/_animations.scss */
  0% {
    opacity: 0;
    filter: alpha(opacity=0);
  }

  /* line 70, ../sass/_animations.scss */
  100% {
    opacity: 1;
    filter: alpha(opacity=1);
  }
}

/* SENCHA ANIMATIONS */
/* Contact Form */
/* line 2, ../sass/_forms.scss */
.main-form {
  position: relative;
}

/* line 7, ../sass/_forms.scss */
.main-form:before,
.main-form:after {
  content: " ";
  display: table;
}

/* line 11, ../sass/_forms.scss */
.main-form:after {
  clear: both;
}

/* line 15, ../sass/_forms.scss */
.main-form label {
  display: block;
  padding: 10px 5px 5px 2px;
  font-size: 1.1em;
  letter-spacing: 1px;
  cursor: pointer;
  font-family: "ITC Lubalin Graph";
  color: #131313;
}

/* line 27, ../sass/_forms.scss */
.main-form input,
.main-form textarea,
.main-form select {
  font-family: "ITC Lubalin Graph";
  line-height: 1.5;
  font-size: 18px;
  padding: 2px 10px;
  color: #131313;
  display: block;
  width: 100%;
  background: #ebebeb;
}

/* line 39, ../sass/_forms.scss */
.main-form input,
.main-form textarea {
  border: 0px;
  border-radius: 0 !important;
  padding: 1em;
  box-shadow: none;
}

/* line 46, ../sass/_forms.scss */
.main-form textarea {
  min-height: 200px;
}

/* line 53, ../sass/_forms.scss */
.main-form input:focus,
.main-form textarea:focus,
.main-form label:active + input,
.main-form label:active + textarea {
  outline: none;
  border: 1px solid #131313;
}

/* line 58, ../sass/_forms.scss */
.main-form select:focus {
  outline: none;
}

/* line 62, ../sass/_forms.scss */
::-webkit-input-placeholder {
  /* WebKit browsers */
  color: #10689a;
  font-style: italic;
}

/* line 67, ../sass/_forms.scss */
:-moz-placeholder {
  /* Mozilla Firefox 4 to 18 */
  color: #10689a;
  font-style: italic;
}

/* line 72, ../sass/_forms.scss */
::-moz-placeholder {
  /* Mozilla Firefox 19+ */
  color: #10689a;
  font-style: italic;
}

/* line 77, ../sass/_forms.scss */
:-ms-input-placeholder {
  /* Internet Explorer 10+ */
  color: #10689a;
  font-style: italic;
}

/* line 82, ../sass/_forms.scss */
.cbp-mc-submit-wrap {
  text-align: center;
  padding-top: 40px;
  clear: both;
}

/* line 88, ../sass/_forms.scss */
.main-form input.cbp-mc-submit {
  background: #131313;
  border: none;
  color: white;
  width: auto;
  cursor: pointer;
  display: inline-block;
  padding: 15px 30px;
  font-size: 1.1em;
  letter-spacing: 1px;
  margin: 1em 0;
  font-weight: 100;
}

/* line 103, ../sass/_forms.scss */
.main-form input.cbp-mc-submit:hover {
  background: #142e4a;
}

/* line 107, ../sass/_forms.scss */
#nospam, .nospam {
  display: none;
}

/* line 111, ../sass/_forms.scss */
.thumbs {
  width: 47%;
  margin: 1%;
  float: left;
}
/* line 115, ../sass/_forms.scss */
.thumbs img {
  width: 100%;
}

/* line 1, ../sass/_smallest.scss */
* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* RESPONSIVE IMAGES */
/* line 13, ../sass/_smallest.scss */
body {
  padding: 0;
}

/* line 17, ../sass/_smallest.scss */
img {
  max-width: 100%;
  height: auto;
  vertical-align: middle;
  border: 0;
  -ms-interpolation-mode: bicubic;
}
/* line 24, ../sass/_smallest.scss */
.lt-ie9 img {
  width: auto;
}

/* MAIN */
/* line 31, ../sass/_smallest.scss */
section {
  padding: 2em 1em;
}

/* line 36, ../sass/_smallest.scss */
.wrap {
  max-width: 1140px;
  width: 90%;
  margin: auto;
}
/* line 40, ../sass/_smallest.scss */
.wrap:before, .wrap:after {
  content: "";
  display: table;
}
/* line 45, ../sass/_smallest.scss */
.wrap:after {
  clear: both;
}

/* line 51, ../sass/_smallest.scss */
.button {
  padding: 1em;
}

/* FOOTER */
/* BUTTON */
/* line 65, ../sass/_smallest.scss */
.hero {
  padding: 0;
  margin: 0;
  background: #fff4e7 url("/resources/img/main_bg.png") no-repeat bottom;
  background-size: cover;
}
/* line 70, ../sass/_smallest.scss */
.hero .hero-height {
  height: 300px;
  display: table;
}
/* line 74, ../sass/_smallest.scss */
.hero .content {
  display: table-cell;
  vertical-align: middle;
  text-align: right;
}
/* line 78, ../sass/_smallest.scss */
.hero .content h1 {
  font-size: 22px;
}

/* line 84, ../sass/_smallest.scss */
.logo {
  height: 55px;
}

/* line 89, ../sass/_smallest.scss */
.purple {
  color: #5c308d;
}

/* line 93, ../sass/_smallest.scss */
.green {
  color: #7cb14d;
}

/* line 97, ../sass/_smallest.scss */
.pink {
  color: #aa1c89;
}

/* line 101, ../sass/_smallest.scss */
.about {
  background: #00acec url("/resources/img/what-bg.jpg") no-repeat right;
  text-align: center;
  padding: 4em 0;
}
/* line 105, ../sass/_smallest.scss */
.about .wrap {
  max-width: 750px;
}
/* line 108, ../sass/_smallest.scss */
.about h3, .about p {
  color: white;
  margin-bottom: 2em;
}

/* line 114, ../sass/_smallest.scss */
.how {
  padding: 4em 0;
  text-align: center;
  margin-top: 5px;
  background: url("/resources/img/color-bar.jpg") repeat-x top;
}
/* line 119, ../sass/_smallest.scss */
.how h2 {
  margin-bottom: 50px;
}
/* line 122, ../sass/_smallest.scss */
.how a {
  margin-bottom: 1em;
}
/* line 125, ../sass/_smallest.scss */
.how a:hover .contain {
  opacity: 0.5;
  filter: alpha(opacity=0.5);
}
/* line 129, ../sass/_smallest.scss */
.how a:hover h3 {
  color: #7cb14d;
}
/* line 134, ../sass/_smallest.scss */
.how .contain {
  background: #f3f3f3;
  width: 200px;
  height: 200px;
  border-radius: 1100px;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
  margin: 0 auto 20px;
}
/* line 142, ../sass/_smallest.scss */
.how h3 {
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
  font-size: 18px;
}

/* line 147, ../sass/_smallest.scss */
.cta-left, .cta-right {
  padding: 2em;
  text-align: center;
  margin: 0;
}
/* line 152, ../sass/_smallest.scss */
.cta-left p, .cta-right p {
  color: white;
  font-size: 14px;
  margin-bottom: 40px;
}

/* line 160, ../sass/_smallest.scss */
.col50 {
  width: 100%;
  float: left;
}
/* line 326, ../sass/_mixins.scss */
.col50:nth-child(n) {
  margin-bottom: 0;
  margin-right: 0;
}
/* line 330, ../sass/_mixins.scss */
.col50:nth-child(1n) {
  margin-right: 0;
  margin-bottom: 0;
}

/* line 165, ../sass/_smallest.scss */
.cta-left {
  background: url("/resources/img/cta_left.jpg") no-repeat;
  background-size: cover;
}

/* line 170, ../sass/_smallest.scss */
.cta-right {
  background: url("/resources/img/cta_right.jpg") no-repeat;
  background-size: cover;
}

/* line 175, ../sass/_smallest.scss */
.footer {
  background: #00acec;
  padding: 3em 0;
}
/* line 178, ../sass/_smallest.scss */
.footer h2 {
  font-size: 24px;
  margin-bottom: 25px;
}
/* line 182, ../sass/_smallest.scss */
.footer li {
  margin-bottom: 2em;
}
/* line 187, ../sass/_smallest.scss */
.footer li a:hover p {
  color: rgba(255, 255, 255, 0.7);
}
/* line 190, ../sass/_smallest.scss */
.footer li a:hover p.date {
  color: rgba(0, 0, 0, 0.5);
}
/* line 196, ../sass/_smallest.scss */
.footer h3 {
  margin-bottom: 1em;
}
/* line 198, ../sass/_smallest.scss */
.footer h3 a {
  color: white;
}
/* line 200, ../sass/_smallest.scss */
.footer h3 a:hover {
  color: rgba(255, 255, 255, 0.7);
}
/* line 205, ../sass/_smallest.scss */
.footer p {
  font-size: 14px;
  color: white;
  -webkit-transition: 0.3s all;
  -moz-transition: 0.3s all;
  -ms-transition: 0.3s all;
  -o-transition: 0.3s all;
  transition: 0.3s all;
}
/* line 210, ../sass/_smallest.scss */
.footer p.date {
  color: #131313;
  font-family: "Galaxie Polaris Bold", sans-serif;
}

/* line 216, ../sass/_smallest.scss */
.social li {
  display: inline-block;
  margin-right: 1em;
}
/* line 219, ../sass/_smallest.scss */
.social li a {
  font-size: 70px;
  color: white;
}
/* line 222, ../sass/_smallest.scss */
.social li a:hover {
  color: rgba(255, 255, 255, 0.4);
}

/* line 231, ../sass/_smallest.scss */
.mainnav .mnav li a, .mainnav.scroll .mnav li a {
  padding: 24px 0;
  font-size: 20px;
  color: #131313;
}

/* TYPOGRAPHY */
/* line 241, ../sass/_smallest.scss */
h3 {
  font-size: 18px;
}

/* line 246, ../sass/_smallest.scss */
h2 {
  font-size: 20px;
}

/* line 251, ../sass/_smallest.scss */
.mainnav.scroll {
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.3);
}

@media (min-width: 480px) {
  /* line 1, ../sass/_480.scss */
  section {
    padding: 2em 0;
  }
}
@media (min-width: 768px) {
  /* line 1, ../sass/_768.scss */
  section {
    padding: 2em 0;
  }

  /* line 5, ../sass/_768.scss */
  .col50 {
    width: 50%;
  }
  /* line 326, ../sass/_mixins.scss */
  .col50:nth-child(n) {
    margin-bottom: 0;
    margin-right: 0;
  }
  /* line 330, ../sass/_mixins.scss */
  .col50:nth-child(2n) {
    margin-right: 0;
    margin-bottom: 0;
  }

  /* line 12, ../sass/_768.scss */
  .hero .hero-height {
    height: 768px;
  }
  /* line 15, ../sass/_768.scss */
  .hero .content {
    display: table-cell;
    vertical-align: middle;
    text-align: right;
  }
  /* line 19, ../sass/_768.scss */
  .hero .content h1 {
    font-size: 50px;
  }

  /* line 27, ../sass/_768.scss */
  .cta-left, .cta-right {
    padding: 4em;
  }

  /* line 33, ../sass/_768.scss */
  .button {
    padding: 1em 2em;
  }

  /* line 38, ../sass/_768.scss */
  .col50 {
    display: table-cell;
    vertical-align: top;
    float: none;
  }

  /* line 46, ../sass/_768.scss */
  .cta-left p, .cta-right p {
    font-size: 24px;
  }

  /* line 52, ../sass/_768.scss */
  h3 {
    font-size: 24px;
  }

  /* line 56, ../sass/_768.scss */
  h2 {
    font-size: 32px;
  }

  /* line 63, ../sass/_768.scss */
  .how .contain {
    width: 200px;
    height: 200px;
    margin: 0 auto 56px;
  }
}
@media (min-width: 940px) {
  /* line 1, ../sass/_940.scss */
  .button {
    padding: 1em 8em;
  }

  /* line 6, ../sass/_940.scss */
  .ctas .button {
    padding: 1em 4em;
  }
}
@media (min-width: 1025px) {
  /* line 1, ../sass/_1025.scss */
  .how .contain {
    width: 300px;
    height: 300px;
  }

  /* line 6, ../sass/_1025.scss */
  .mainnav {
    position: fixed;
  }

  /* line 10, ../sass/_1025.scss */
  .mainnav.scroll {
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.3);
  }

  /* line 14, ../sass/_1025.scss */
  .logo {
    height: 125px;
  }
}
@media (min-width: 1024px) {
  /* line 2, ../sass/_1024.scss */
  .mainnav {
    box-shadow: none;
  }
}
/* @media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (-o-min-device-pixel-ratio: 3/2), only screen and (min-device-pixel-ratio: 1.5) {
  @import "2x";
} */
