/* line 26, ../sass/_mixins.scss */
.cf:before,
.cf:after {
  *zoom: 1;
}
/* line 28, ../sass/_mixins.scss */
.cf:before,
.cf:after {
  content: " ";
  display: table;
}
/* line 32, ../sass/_mixins.scss */
.cf:after {
  clear: both;
}

/* Fluid Grid
-----------------
*/
/* line 20, ../sass/_grid.scss */
body {
  width: 100%;
  float: left;
}

/*
 * HTML5 Boilerplate
 *
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 *
 * Detailed information about this CSS: h5bp.com/css
 *
 * ==|== normalize ==========================================================
 */
/* =============================================================================
   HTML5 display definitions
   ========================================================================== */
/* line 18, ../sass/_reset.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, nav, section {
  display: block;
}

/* line 19, ../sass/_reset.scss */
audio, canvas, video {
  display: inline-block;
  *display: inline;
  *zoom: 1;
}

/* line 20, ../sass/_reset.scss */
audio:not([controls]) {
  display: none;
}

/* line 21, ../sass/_reset.scss */
[hidden] {
  display: none;
}

/* =============================================================================
   Base
   ========================================================================== */
/*
 * 1. Correct text resizing oddly in IE6/7 when body font-size is set using em units
 * 2. Prevent iOS text size adjust on device orientation change, without disabling user zoom: h5bp.com/g
 */
/* line 33, ../sass/_reset.scss */
html {
  font-size: 100%;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

/* line 35, ../sass/_reset.scss */
html, button, input, select, textarea {
  font-family: sans-serif;
  color: #222;
}

/* line 37, ../sass/_reset.scss */
body {
  margin: 0;
  font-size: 1em;
  line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight: h5bp.com/i
 * These selection declarations have to be separate
 * Also: hot pink! (or customize the background color to match your design)
 */
/* =============================================================================
   Links
   ========================================================================== */
/* line 51, ../sass/_reset.scss */
a {
  color: #00e;
}

/* line 52, ../sass/_reset.scss */
a:visited {
  color: #551a8b;
}

/* line 53, ../sass/_reset.scss */
a:hover {
  color: #06e;
}

/* line 54, ../sass/_reset.scss */
a:focus {
  outline: thin dotted;
}

/* Improve readability when focused and hovered in all browsers: h5bp.com/h */
/* line 57, ../sass/_reset.scss */
a:hover, a:active {
  outline: 0;
}

/* =============================================================================
   Typography
   ========================================================================== */
/* line 64, ../sass/_reset.scss */
abbr[title] {
  border-bottom: 1px dotted;
}

/* line 66, ../sass/_reset.scss */
b, strong {
  font-weight: bold;
}

/* line 68, ../sass/_reset.scss */
blockquote {
  margin: 1em 40px;
}

/* line 70, ../sass/_reset.scss */
dfn {
  font-style: italic;
}

/* line 72, ../sass/_reset.scss */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

/* line 74, ../sass/_reset.scss */
ins {
  background: #ff9;
  color: #000;
  text-decoration: none;
}

/* line 76, ../sass/_reset.scss */
mark {
  background: #ff0;
  color: #000;
  font-style: italic;
  font-weight: bold;
}

/* Redeclare monospace font family: h5bp.com/j */
/* line 79, ../sass/_reset.scss */
pre, code, kbd, samp {
  font-family: monospace, serif;
  _font-family: 'courier new', monospace;
  font-size: 1em;
}

/* Improve readability of pre-formatted text in all browsers */
/* line 82, ../sass/_reset.scss */
pre {
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word;
}

/* line 84, ../sass/_reset.scss */
q {
  quotes: none;
}

/* line 85, ../sass/_reset.scss */
q:before, q:after {
  content: "";
  content: none;
}

/* line 87, ../sass/_reset.scss */
small {
  font-size: 85%;
}

/* Position subscript and superscript content without affecting line-height: h5bp.com/k */
/* line 90, ../sass/_reset.scss */
sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

/* line 91, ../sass/_reset.scss */
sup {
  top: -0.5em;
}

/* line 92, ../sass/_reset.scss */
sub {
  bottom: -0.25em;
}

/* =============================================================================
   Lists
   ========================================================================== */
/* line 99, ../sass/_reset.scss */
ul, ol {
  margin: 1em 0;
  padding: 0 0 0 40px;
}

/* line 100, ../sass/_reset.scss */
dd {
  margin: 0 0 0 40px;
}

/* line 101, ../sass/_reset.scss */
nav ul, nav ol {
  list-style: none;
  list-style-image: none;
  margin: 0;
  padding: 0;
}

/* =============================================================================
   Embedded content
   ========================================================================== */
/*
 * 1. Improve image quality when scaled in IE7: h5bp.com/d
 * 2. Remove the gap between images and borders on image containers: h5bp.com/i/440
 */
/* line 113, ../sass/_reset.scss */
img {
  border: 0;
  -ms-interpolation-mode: bicubic;
  vertical-align: middle;
}

/*
 * Correct overflow not hidden in IE9
 */
/* line 119, ../sass/_reset.scss */
svg:not(:root) {
  overflow: hidden;
}

/* =============================================================================
   Figures
   ========================================================================== */
/* line 126, ../sass/_reset.scss */
figure {
  margin: 0;
}

/* =============================================================================
   Forms
   ========================================================================== */
/* line 133, ../sass/_reset.scss */
form {
  margin: 0;
}

/* line 134, ../sass/_reset.scss */
fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

/* Indicate that 'label' will shift focus to the associated form element */
/* line 137, ../sass/_reset.scss */
label {
  cursor: pointer;
}

/*
 * 1. Correct color not inheriting in IE6/7/8/9
 * 2. Correct alignment displayed oddly in IE6/7
 */
/* line 144, ../sass/_reset.scss */
legend {
  border: 0;
  *margin-left: -7px;
  padding: 0;
  white-space: normal;
}

/*
 * 1. Correct font-size not inheriting in all browsers
 * 2. Remove margins in FF3/4 S5 Chrome
 * 3. Define consistent vertical alignment display in all browsers
 */
/* line 152, ../sass/_reset.scss */
button, input, select, textarea {
  font-size: 100%;
  margin: 0;
  vertical-align: baseline;
  *vertical-align: middle;
}

/*
 * 1. Define line-height as normal to match FF3/4 (set using !important in the UA stylesheet)
 */
/* line 158, ../sass/_reset.scss */
button, input {
  line-height: normal;
}

/*
 * 1. Display hand cursor for clickable form elements
 * 2. Allow styling of clickable form elements in iOS
 * 3. Correct inner spacing displayed oddly in IE7 (doesn't effect IE6)
 */
/* line 166, ../sass/_reset.scss */
button, input[type="button"], input[type="reset"], input[type="submit"] {
  cursor: pointer;
  -webkit-appearance: button;
  *overflow: visible;
}

/*
 * Re-set default cursor for disabled elements
 */
/* line 172, ../sass/_reset.scss */
button[disabled], input[disabled] {
  cursor: default;
}

/*
 * Consistent box sizing and appearance
 */
/* line 178, ../sass/_reset.scss */
input[type="checkbox"], input[type="radio"] {
  box-sizing: border-box;
  padding: 0;
  *width: 13px;
  *height: 13px;
}

/* line 179, ../sass/_reset.scss */
input[type="search"] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}

/* line 180, ../sass/_reset.scss */
input[type="search"]::-webkit-search-decoration, input[type="search"]::-webkit-search-cancel-button {
  -webkit-appearance: none;
}

/*
 * Remove inner padding and border in FF3/4: h5bp.com/l
 */
/* line 186, ../sass/_reset.scss */
button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

/*
 * 1. Remove default vertical scrollbar in IE6/7/8/9
 * 2. Allow only vertical resizing
 */
/* line 193, ../sass/_reset.scss */
textarea {
  overflow: auto;
  vertical-align: top;
  resize: vertical;
}

/* Colors for form validity */
/* line 197, ../sass/_reset.scss */
input:invalid, textarea:invalid {
  background-color: #f0dddd;
}

/* =============================================================================
   Tables
   ========================================================================== */
/* line 204, ../sass/_reset.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 205, ../sass/_reset.scss */
td {
  vertical-align: top;
}

/* ==|== non-semantic helper classes ========================================
   Please define your styles before this section.
   ========================================================================== */
/* For image replacement */
/* line 213, ../sass/_reset.scss */
.ir {
  display: block;
  border: 0;
  text-indent: -999em;
  overflow: hidden;
  background-color: transparent;
  background-repeat: no-repeat;
  text-align: left;
  direction: ltr;
  *line-height: 0;
}

/* line 214, ../sass/_reset.scss */
.ir br {
  display: none;
}

/* Hide from both screenreaders and browsers: h5bp.com/u */
/* line 217, ../sass/_reset.scss */
.hidden {
  display: none !important;
  visibility: hidden;
}

/* Hide only visually, but have it available for screenreaders: h5bp.com/v */
/* line 220, ../sass/_reset.scss */
.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

/* Extends the .visuallyhidden class to allow the element to be focusable when navigated to via the keyboard: h5bp.com/p */
/* line 223, ../sass/_reset.scss */
.visuallyhidden.focusable:active, .visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto;
}

/* Hide visually and from screenreaders, but maintain layout */
/* line 226, ../sass/_reset.scss */
.invisible {
  visibility: hidden;
}

/* Contain floats: h5bp.com/q */
/* line 229, ../sass/_reset.scss */
.clearfix:before, .clearfix:after {
  content: "";
  display: table;
}

/* line 230, ../sass/_reset.scss */
.clearfix:after {
  clear: both;
}

/* line 231, ../sass/_reset.scss */
.clearfix {
  *zoom: 1;
}

/* ==|== print styles =======================================================
   Print styles.
   Inlined to avoid required HTTP connection: h5bp.com/r
   ========================================================================== */
@media print {
  /* line 239, ../sass/_reset.scss */
  * {
    background: transparent !important;
    color: black !important;
    box-shadow: none !important;
    text-shadow: none !important;
    filter: none !important;
    -ms-filter: none !important;
  }

  /* Black prints faster: h5bp.com/s */
  /* line 240, ../sass/_reset.scss */
  a, a:visited {
    text-decoration: underline;
  }

  /* line 241, ../sass/_reset.scss */
  a[href]:after {
    content: " (" attr(href) ")";
  }

  /* line 242, ../sass/_reset.scss */
  abbr[title]:after {
    content: " (" attr(title) ")";
  }

  /* line 243, ../sass/_reset.scss */
  .ir a:after, a[href^="javascript:"]:after, a[href^="#"]:after {
    content: "";
  }

  /* Don't show links for images, or javascript/internal links */
  /* line 244, ../sass/_reset.scss */
  pre, blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }

  /* line 245, ../sass/_reset.scss */
  thead {
    display: table-header-group;
  }

  /* h5bp.com/t */
  /* line 246, ../sass/_reset.scss */
  tr, img {
    page-break-inside: avoid;
  }

  /* line 247, ../sass/_reset.scss */
  img {
    max-width: 100% !important;
  }

  @page {
    margin: 0.5cm;
}

  /* line 249, ../sass/_reset.scss */
  p, h2, h3 {
    orphans: 3;
    widows: 3;
  }

  /* line 250, ../sass/_reset.scss */
  h2, h3 {
    page-break-after: avoid;
  }
}
/* line 1, ../sass/_smallest.scss */
* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* RESPONSIVE IMAGES */
/* line 13, ../sass/_smallest.scss */
body {
  padding: 0;
}

/* line 17, ../sass/_smallest.scss */
img {
  max-width: 100%;
  height: auto;
  vertical-align: middle;
  border: 0;
  -ms-interpolation-mode: bicubic;
}
/* line 24, ../sass/_smallest.scss */
.lt-ie9 img {
  width: auto;
}

/* MAIN */
/* line 31, ../sass/_smallest.scss */
section {
  padding: 2em 1em;
}

/* line 36, ../sass/_smallest.scss */
.wrap {
  max-width: 1140px;
  width: 90%;
  margin: auto;
}
/* line 40, ../sass/_smallest.scss */
.wrap:before, .wrap:after {
  content: "";
  display: table;
}
/* line 45, ../sass/_smallest.scss */
.wrap:after {
  clear: both;
}

/* line 51, ../sass/_smallest.scss */
.button {
  padding: 1em;
}

/* FOOTER */
/* BUTTON */
/* line 65, ../sass/_smallest.scss */
.hero {
  padding: 0;
  margin: 0;
  background: #fff4e7 url("/resources/img/main_bg.png") no-repeat bottom;
  background-size: cover;
}
/* line 70, ../sass/_smallest.scss */
.hero .hero-height {
  height: 300px;
  display: table;
}
/* line 74, ../sass/_smallest.scss */
.hero .content {
  display: table-cell;
  vertical-align: middle;
  text-align: right;
}
/* line 78, ../sass/_smallest.scss */
.hero .content h1 {
  font-size: 22px;
}

/* line 84, ../sass/_smallest.scss */
.logo {
  height: 55px;
}

/* line 89, ../sass/_smallest.scss */
.purple {
  color: #5c308d;
}

/* line 93, ../sass/_smallest.scss */
.green {
  color: #7cb14d;
}

/* line 97, ../sass/_smallest.scss */
.pink {
  color: #aa1c89;
}

/* line 101, ../sass/_smallest.scss */
.about {
  background: #00acec url("/resources/img/what-bg.jpg") no-repeat right;
  text-align: center;
  padding: 4em 0;
}
/* line 105, ../sass/_smallest.scss */
.about .wrap {
  max-width: 750px;
}
/* line 108, ../sass/_smallest.scss */
.about h3, .about p {
  color: white;
  margin-bottom: 2em;
}

/* line 114, ../sass/_smallest.scss */
.how {
  padding: 4em 0;
  text-align: center;
  margin-top: 5px;
  background: url("/resources/img/color-bar.jpg") repeat-x top;
}
/* line 119, ../sass/_smallest.scss */
.how h2 {
  margin-bottom: 50px;
}
/* line 122, ../sass/_smallest.scss */
.how a {
  margin-bottom: 1em;
}
/* line 125, ../sass/_smallest.scss */
.how a:hover .contain {
  opacity: 0.5;
  filter: alpha(opacity=0.5);
}
/* line 129, ../sass/_smallest.scss */
.how a:hover h3 {
  color: #7cb14d;
}
/* line 134, ../sass/_smallest.scss */
.how .contain {
  background: #f3f3f3;
  width: 200px;
  height: 200px;
  border-radius: 1100px;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
  margin: 0 auto 20px;
}
/* line 142, ../sass/_smallest.scss */
.how h3 {
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
  font-size: 18px;
}

/* line 147, ../sass/_smallest.scss */
.cta-left, .cta-right {
  padding: 2em;
  text-align: center;
  margin: 0;
}
/* line 152, ../sass/_smallest.scss */
.cta-left p, .cta-right p {
  color: white;
  font-size: 14px;
  margin-bottom: 40px;
}

/* line 160, ../sass/_smallest.scss */
.col50 {
  width: 100%;
  float: left;
}
/* line 326, ../sass/_mixins.scss */
.col50:nth-child(n) {
  margin-bottom: 0;
  margin-right: 0;
}
/* line 330, ../sass/_mixins.scss */
.col50:nth-child(1n) {
  margin-right: 0;
  margin-bottom: 0;
}

/* line 165, ../sass/_smallest.scss */
.cta-left {
  background: url("/resources/img/cta_left.jpg") no-repeat;
  background-size: cover;
}

/* line 170, ../sass/_smallest.scss */
.cta-right {
  background: url("/resources/img/cta_right.jpg") no-repeat;
  background-size: cover;
}

/* line 175, ../sass/_smallest.scss */
.footer {
  background: #00acec;
  padding: 3em 0;
}
/* line 178, ../sass/_smallest.scss */
.footer h2 {
  font-size: 24px;
  margin-bottom: 25px;
}
/* line 182, ../sass/_smallest.scss */
.footer li {
  margin-bottom: 2em;
}
/* line 187, ../sass/_smallest.scss */
.footer li a:hover p {
  color: rgba(255, 255, 255, 0.7);
}
/* line 190, ../sass/_smallest.scss */
.footer li a:hover p.date {
  color: rgba(0, 0, 0, 0.5);
}
/* line 196, ../sass/_smallest.scss */
.footer h3 {
  margin-bottom: 1em;
}
/* line 198, ../sass/_smallest.scss */
.footer h3 a {
  color: white;
}
/* line 200, ../sass/_smallest.scss */
.footer h3 a:hover {
  color: rgba(255, 255, 255, 0.7);
}
/* line 205, ../sass/_smallest.scss */
.footer p {
  font-size: 14px;
  color: white;
  -webkit-transition: 0.3s all;
  -moz-transition: 0.3s all;
  -ms-transition: 0.3s all;
  -o-transition: 0.3s all;
  transition: 0.3s all;
}
/* line 210, ../sass/_smallest.scss */
.footer p.date {
  color: #131313;
  font-family: "Galaxie Polaris Bold", sans-serif;
}

/* line 216, ../sass/_smallest.scss */
.social li {
  display: inline-block;
  margin-right: 1em;
}
/* line 219, ../sass/_smallest.scss */
.social li a {
  font-size: 70px;
  color: white;
}
/* line 222, ../sass/_smallest.scss */
.social li a:hover {
  color: rgba(255, 255, 255, 0.4);
}

/* line 231, ../sass/_smallest.scss */
.mainnav .mnav li a, .mainnav.scroll .mnav li a {
  padding: 24px 0;
  font-size: 20px;
  color: #131313;
}

/* TYPOGRAPHY */
/* line 241, ../sass/_smallest.scss */
h3 {
  font-size: 18px;
}

/* line 246, ../sass/_smallest.scss */
h2 {
  font-size: 20px;
}

/* line 251, ../sass/_smallest.scss */
.mainnav.scroll {
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.3);
}

/* line 1, ../sass/_480.scss */
section {
  padding: 2em 0;
}

/* line 1, ../sass/_768.scss */
section {
  padding: 2em 0;
}

/* line 5, ../sass/_768.scss */
.col50 {
  width: 50%;
}
/* line 326, ../sass/_mixins.scss */
.col50:nth-child(n) {
  margin-bottom: 0;
  margin-right: 0;
}
/* line 330, ../sass/_mixins.scss */
.col50:nth-child(2n) {
  margin-right: 0;
  margin-bottom: 0;
}

/* line 12, ../sass/_768.scss */
.hero .hero-height {
  height: 768px;
}
/* line 15, ../sass/_768.scss */
.hero .content {
  display: table-cell;
  vertical-align: middle;
  text-align: right;
}
/* line 19, ../sass/_768.scss */
.hero .content h1 {
  font-size: 50px;
}

/* line 27, ../sass/_768.scss */
.cta-left, .cta-right {
  padding: 4em;
}

/* line 33, ../sass/_768.scss */
.button {
  padding: 1em 2em;
}

/* line 38, ../sass/_768.scss */
.col50 {
  display: table-cell;
  vertical-align: top;
  float: none;
}

/* line 46, ../sass/_768.scss */
.cta-left p, .cta-right p {
  font-size: 24px;
}

/* line 52, ../sass/_768.scss */
h3 {
  font-size: 24px;
}

/* line 56, ../sass/_768.scss */
h2 {
  font-size: 32px;
}

/* line 63, ../sass/_768.scss */
.how .contain {
  width: 200px;
  height: 200px;
  margin: 0 auto 56px;
}

/* line 1, ../sass/_940.scss */
.button {
  padding: 1em 8em;
}

/* line 6, ../sass/_940.scss */
.ctas .button {
  padding: 1em 4em;
}
