@font-face {
	font-family: 'Galaxie Polaris';
	src:url('/resources/fonts/GalaxiePolaris-Book.otf');
}

@font-face {
	font-family: 'Galaxie Polaris Heavy';
	src:url('/resources/fonts/GalaxiePolaris-Heavy.otf');
}

@font-face {
	font-family: 'Galaxie Polaris Bold';
	src:url('/resources/fonts/GalaxiePolaris-Bold.otf');
}

@font-face {
	font-family: 'Galaxie Polaris Medium';
	src:url('/resources/fonts/GalaxiePolaris-Medium.otf');
}
