body {
  font: 100%/1.5 $body;
  color: $neutral;
}

/* HEADINGS */

h1, h2, h3, h4, h5 {
  font-family: $heading;
  color: $primary;
  line-height: 1.4;
}

h1 {
  margin: 0 0 10px 0;
  font-size: 30px;
  font-weight: 100;
  line-height: 1;

  color: $neutral;
}

h2 {
  color:$primary;
  font-family: $heading;
  font-size:32px;
  font-weight: 100;
}

h3 {
  font-family: $medium;
  font-size: 24px;
}

/* PARAGRAPH */

p {
  font-family: $body;
  font-size: 14px;
  line-height: 1.4;
  margin-bottom: 1em;
  color:$primary;
}

a {
  @include transition(all .3s);
  text-decoration: none;
  &:hover {
    text-decoration: none;
  }
  &:visited {
    color:inherit;
  }
}

/* LISTS */
ul {
  padding:0;
  list-style: none;
}

.button {
  display: inline-block;
  padding: .5em 8em;
  font-family: $body;
  border:solid 1px $primary;
  color:$primary;
  &:hover {
    @include opacity(.7);
  }
}

.button.white {
  color:#ffffff;
  border-color:#ffffff;
}