// COLOR PALETTE
$primary: #131313;
$secondary: #142E4A;
$hover: #505050;
$neutral: #011F40;
$highlight: #306DB1;
$ultralight: #537FB1;
$link: red;
$purple: #5c308d;
$pink:#aa1c89;
$green: #7cb14d;

// FONT STACKS
$heading: 'ITC Lubalin Graph';
$body: 'Galaxie Polaris', sans-serif;
$heavy: 'Galaxie Polaris Heavy', sans-serif;
$bold: 'Galaxie Polaris Bold', sans-serif;

$medium: 'Galaxie Polaris Medium', sans-serif;
